{% extends "admin/layout.html" %}
{% block title %} Admin Panel - Kullanıcı Listesi{% endblock title %}


{% block icerik %} 

<section class="py-5">
  <div class="row">
      <!-- Form Elements -->
      <div class="col-lg-12 mb-5">
          <div class="card">
              <div class="card-header">
                  <h3 class="h6 text-uppercase mb-0">Genel Ayarlar</h3>
              </div>
              <div class="card-body">
                  <form class="form-horizontal" action="{{ url_for('ayar_guncelle') }}" method="POST" enctype="multipart/form-data">
                      <div class="line"></div>
                      <div class="form-group row">
                          <label class="col-md-3 form-control-label">Site Adı</label>
                          <div class="col-md-9">
                              <input type="text" name="site_name" class="form-control form-control-lg" placeholder="{{ ayar.site_name }}">
                              <small class="form-text text-muted ml-3">Başlıkta Görünecek İsim</small>
                          </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Ana Sayfa Manşet</label>
                        <div class="col-md-9">
                            <input type="text" name="site_title" class="form-control form-control-lg" placeholder="{{ ayar.site_title }}">
                            <small class="form-text text-muted ml-3">Anasayfa manşetinde görünen kısım</small>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Site Logo</label>
                        <div class="col-md-9">
                            <input type="file" name="site_logo" class="form-control-file">
                        </div>
                    </div>
                    <div class="line"></div>
                      <div class="form-group row">
                          <label class="col-md-3 form-control-label">Google Analytics</label>
                          <div class="col-md-9">
                              <input type="text" name="site_analytics" class="form-control">
                              <small class="form-text text-muted ml-3">Kodu Buraya yazın</small>
                          </div>
                        </div>
                      <div class="line"></div>
                      <div class="form-group row">
                          <label class="col-md-3 form-control-label">Sosyal Medya</label>
                          <div class="col-md-9">
                              <input type="text" name="site_instagram" class="form-control" placeholder="{{ ayar.site_instagram }}">
                              <small class="form-text text-muted ml-3">İnstagram</small>
                          </div>
                          <label class="col-md-3 form-control-label"></label>
                          <div class="col-md-9">
                            <input type="text" name="site_facebook" class="form-control" placeholder="{{ ayar.site_facebook }}">
                            <small class="form-text text-muted ml-3">Facebook</small>
                        </div>
                        <label class="col-md-3 form-control-label"></label>
                          <div class="col-md-9">
                              <input type="text" name="site_twiter" class="form-control" placeholder="{{ ayar.site_twiter }}">
                              <small class="form-text text-muted ml-3">Twitter</small>
                          </div>
                          <label class="col-md-3 form-control-label"></label>
                          <div class="col-md-9">
                            <input type="text" name="site_youtube" class="form-control" placeholder="{{ ayar.site_youtube }}">
                            <small class="form-text text-muted ml-3">YouTube</small>
                        </div>
                      </div>

                      <div class="line"></div>
                      <div class="form-group row">
                          <div class="col-md-9 ml-auto">
                              <button type="submit" class="btn btn-primary">Kaydet</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>





  {% endblock icerik %} 