{% extends "admin/layout.html" %}
{% block title %} Admin Panel{% endblock title %}


{% block icerik %} 

      <section class="py-5">
   
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-header">
                <h2 class="h6 text-uppercase mb-0">Başvurularım</h2>
              </div>
              <div class="card-body">
                <p class="mb-3 text-gray">Güneşli Mah. 1285. Sokak No:2 Da:5</p>
                <div class="chart-holder">
                  <canvas id="doughnutChartExample"></canvas>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        
      </section>
    


  {% endblock icerik %} 