{% extends "admin/layout.html" %}
{% block title %} Admin Panel - Projeler{% endblock title %}


{% block icerik %} 

<section class="py-5">
  <div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="text-uppercase mb-0">Projeler</h6>
                    <a href="{{ url_for('proje_ekle') }}" class="btn btn-primary">+ Proje Ekle</a>

                </div>
            </div>
            <div class="card-body">                           
                {% if data %}
                <table class="table card-text">
                  <thead>
                    <tr>
                        <th>Proje ID</th>
                        <th>Proje No</th>
                        <th>Proje Adı</th>
                        <th>Proje Yapı Sınıfı</th>
                        <th>Proje Kat Adet</th>
                        <th>Proje Oda Sayısı</th>
                        <th>Proje Metre</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        {% for record in data %}
                        <tr>
                            <td>{{ record['proje_id'] }}</td>
                            <td>{{ record['proje_no'] }}</td>
                            <td>{{ record['proje_adi'] }}</td>
                            <td>{{ record['proje_yapi_sinifi'] }}</td>
                            <td>{{ record['proje_kat_adet'] }}</td>
                            <td>{{ record['proje_oda_sayisi'] }}</td>
                            <td>{{ record['proje_metre'] }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span> Düzenle
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="showConfirmation()">
                                    <span class="glyphicon glyphicon-trash"></span> Sil
                                  </button>
                                
                                  <div id="confirmation-modal" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Silme İşlemi Onayı</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Silmek istediğinizden emin misiniz?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" onclick="cancelDeletion()">İptal</button>
                                          <button type="button" class="btn btn-danger btn-sm" onclick="deleteItem('{{ record['proje_id'] }}')">
                                            <span class="glyphicon glyphicon-trash"></span> Sil
                                          </button>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Veri bulunamadı.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</section>


  {% endblock icerik %} 