
    .carousel-control-prev,
    .carousel-control-next {
        border: none;
    }

    .carousel {
        background-color: transparent;
    }

    .carousel-item p {
        color: black;
    }
