{% extends "frontend/profil.html" %}
{% block title %} Başvurularim {% endblock title %}


{% block profil %} 

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
       
        <th>TC</th>
        <th>Telefon</th>
        <th>Mahalle</th>
        <th>Sokak</th>
        <th>Kapı No</th>
        <th>İç Kapı No</th>
        <th>Ada</th>
        <th>Parsel</th>
    </tr>
    </thead>
    {% if basvurularim %}
    <tbody>
      {% for basvuru in basvurularim %}
      <tr>
     
                <td>{{ basvuru['reg_tc'] }}</td>
                <td>{{ basvuru['reg_tel'] }}</td>
                <td>{{ basvuru['reg_mahalle'] }}</td>
                <td>{{ basvuru['reg_sokak'] }}</td>
                <td>{{ basvuru['reg_kapino'] }}</td>
                <td>{{ basvuru['reg_ickapino'] }}</td>
                <td>{{ basvuru['reg_ada'] }}</td>
                <td>{{ basvuru['reg_parsel'] }}</td>

                <td><button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Henüz bir başvurunuz bulunmamaktadır.</p>
{% endif %}

  
{% endblock profil %} 
    