{% extends "frontend/layout.html" %}
{% block title %} İletişim {% endblock title %}


{% block icerik %} 




<section>
    <div class="container">
      <header class="section-header">
        <h2 class="mb-2">Bize Ulaşın</h2>
        <p class="lead">Aşağıdaki iletişim formunu kullanarak bize mesaj atabilirsiniz.</p>
      </header>
      <div class="row align-items-center mt-5">
        <div class="col-lg-7">
          <form action="/save_contact" method="post" class="contact-form text-left">
            <div class="form-group mb-4">
              <label>İsim Soyisim<sup class="text-primary">&#10033;</sup></label>
              <input type="text" name="name"  class="form-control">
            </div>
            <div class="form-group mb-4">
              <label>E Posta<sup class="text-primary">&#10033;</sup></label>
              <input type="text" name="email"  class="form-control">
            </div>
            <div class="form-group mb-4">
              <label>Konu<sup class="text-primary">&#10033;</sup></label>
              <input type="text" name="subject"  class="form-control">
            </div>
            <div class="form-group mb-4">
              <label>Mesajınızı Buraya Yazabilirsiniz<sup class="text-primary">&#10033;</sup></label>
              <textarea name="message"  class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send message" class="btn btn-primary">
            </div>
          </form>
          {% if notification %}
              <div class="notification">{{ notification }}</div>
          {% endif %}


        </div>
        <div class="col-lg-5 contact-details mt-5 mt-lg-0">
          <div class="box">
            <div class="icon d-flex align-items-end"><img src="{{ url_for('static', filename='front/img/placeholder.svg')}}" alt="" class="img-fluid"></div>
            <h5>Adres</h5>
            <p class="text-small font-weight-light">Osmaniye / Bakırköy</p>
          </div>
          <div class="box">
            <div class="icon d-flex align-items-end"><img src="{{ url_for('static', filename='front/img/technology.svg')}}" alt="" class="img-fluid"></div>
            <h5>Telefon</h5>
            <p class="text-small font-weight-light">Bize Ulaşın</p><strong class="text-muted">+90 541 678 53 61</strong>
          </div>
          <div class="box">
            <div class="icon d-flex align-items-end"><img src="{{ url_for('static', filename='front/img/multimedia.svg')}}" alt="" class="img-fluid"></div>
            <h5>E-Posta</h5>
            <p class="text-small font-weight-light">Bize mail yoluyla ulaşmak için.</p>
            <ul class="text-left">
              <li><a href="mailto:info@fakeemail.com" class="text-small">info@evveko.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock icerik %}