{% extends "frontend/layout.html" %}
{% block title %} Sıkça Sorulan Sorular {% endblock title %}


{% block icerik %} 
    <!-- Hero Section-->
    <section class="hero">
      <div class="container text-center">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" class="animsition-link">Anasayfa</a></li>
            <li aria-current="page" class="breadcrumb-item active">S.S.S.</li>
          </ol>
        </nav>
        <h1 class="hero-heading">Sıkça Sorulan Sorular</h1>
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <p class="lead text-muted">Aklınıza takılan sorulara buradan yanıt bulabilirsiniz, cevabını bulamadığınız sorular için iletişime geçebilirsiniz.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ Section-->
    <section>
      <div class="container">

        <!-- wordPress installation-->
        <header class="section header mb-5">
          <h2>Popüler Sorular</h2>
          <p class="lead">Tarafımıza yöneltilen başlıca sorular ve cevapları.</p>
        </header>
        <div class="row"> 
          <div class="col-lg-8">   
            <div id="accordion" class="faq accordion accordion-custom pb-5">
              <!-- question-->
              <div class="card">
                <div id="headingOne" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-flex align-items-center"><i class="icon-light-bulb"></i><span>Evveko nedir?</span></button>
                  </h4>
                </div>
                <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                  <div class="card-body">Evveko, müşterilerin, müteahhitlerin ve arsa satan emlakçıların bir araya geldiği bir müstakil ev platformudur. Müşteriler, müteahhitler tarafından yüklenen projeler için teklif talep edebilir ve müteahhitler de bu tekliflere fiyat verir. Ayrıca arsa emlakçıları, müşterilere ev yapacakları arsaları sunar.</div>
                </div>
              </div>
              <!-- question        -->
              <div class="card">
                <div id="headingTwo" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-flex align-items-center collapsed"><i class="icon-plug"></i><span> Evveko'ya nasıl kayıt olabilirim?</span></button>
                  </h4>
                </div>
                <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                  <div class="card-body">Evveko'ya kayıt olmak için ana sayfamızdaki "Kayıt Ol" butonunu tıklayarak gerekli bilgileri doldurmanız yeterlidir. Kaydınızın onaylanmasının ardından platforma giriş yapabilirsiniz.</div>
                </div>
              </div>
              <!-- question-->
              <div class="card">
                <div id="headingThree" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-flex align-items-center collapsed"><i class="icon-shield-settings"></i><span>Müşteri olarak Evveko'da ne yapabilirim?</span></button>
                  </h4>
                </div>
                <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                  <div class="card-body">Müşteriler, Evveko üzerinden müteahhitler tarafından yüklenen projeleri inceleyebilir ve beğendikleri projeler için teklif talep edebilirler. Ayrıca ev yapacakları arsalara ihtiyaçları varsa, arsa emlakçılarından arsa seçenekleri sunmalarını talep edebilirler.</div>
                </div>
              </div>
              <!-- question            -->
              <div class="card">
                <div id="headingFour" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-flex align-items-center collapsed"><i class="icon-stack-of-sheets"></i><span>Müşteriler teklif taleplerini nasıl oluşturabilir?</span></button>
                  </h4>
                </div>
                <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion" class="collapse">
                  <div class="card-body">Müşteriler, Evveko üzerinden beğendikleri projeleri seçerek teklif talebi oluşturabilirler. Taleplerinde istedikleri özellikleri, bütçelerini ve diğer gereksinimleri belirtebilirler. Müteahhitler bu talepleri görüp uygun fiyat teklifleri verebilirler.</div>
                </div>
              </div>
            </div>
            <!-- troubleshooting-->
            <header class="section-header text-left mb-5 mt-5">
              <h2 class="mt-5">Müteahhitler</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </header>
            <div id="accordion2" class="faq accordion accordion-custom">
              <!-- question-->
              <div class="card">
                <div id="headingOneAlt" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseOneAlt" aria-expanded="false" aria-controls="collapseOneAlt" class="d-flex align-items-center"><i class="icon-light-bulb"></i><span>Müteahhitler Evveko'da nasıl projelerini paylaşabilir?</span></button>
                  </h4>
                </div>
                <div id="collapseOneAlt" aria-labelledby="headingOneAlt" data-parent="#accordion2" class="collapse">
                  <div class="card-body">Müteahhitler, Evveko'ya kayıt olduktan sonra hesaplarına giriş yaparak projelerini sisteme yükleyebilirler. Projeleri tanıtıcı bilgiler, görseller ve detaylarla birlikte paylaşılabilir. Müşteriler bu projeleri inceleyerek teklif talepleri gönderebilirler.</div>
                </div>
              </div>
              <!-- question-->
              <div class="card">
                <div id="headingTwoAlt" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseTwoAlt" aria-expanded="true" aria-controls="collapseTwoAlt" class="d-flex align-items-center collapsed"><i class="icon-plug"></i><span> Arsa emlakçıları Evveko'da nasıl arsa sunabilir?</span></button>
                  </h4>
                </div>
                <div id="collapseTwoAlt" aria-labelledby="headingTwoAlt" data-parent="#accordion2" class="collapse show">
                  <div class="card-body">Arsa emlakçıları, müşterilerin ev yapacakları arsaları sunmak için Evveko üzerinde ilan verebilirler. İlanlarında arsanın konumu, özellikleri, fiyatı ve iletişim bilgilerini paylaşabilirler. Müşteriler bu ilanlara göz atarak arsa seçenekleri hakkında bilgi alabilirler.</div>
                </div>
              </div>
              <!-- question-->
              <div class="card">
                <div id="headingThreeAlt" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseThreeAlt" aria-expanded="false" aria-controls="collapseThreeAlt" class="d-flex align-items-center collapsed"><i class="icon-shield-settings"></i><span>Food truck quinoa nesciunt?</span></button>
                  </h4>
                </div>
                <div id="collapseThreeAlt" aria-labelledby="headingThreeAlt" data-parent="#accordion2" class="collapse">
                  <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</div>
                </div>
              </div>
              <!-- question-->
              <div class="card">
                <div id="headingFourAlt" class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button data-toggle="collapse" data-target="#collapseFourAlt" aria-expanded="false" aria-controls="collapseFourAlt" class="d-flex align-items-center collapsed"><i class="icon-stack-of-sheets"></i><span>Evveko'da güvenlik nasıl sağlanıyor?</span></button>
                  </h4>
                </div>
                <div id="collapseFourAlt" aria-labelledby="headingFourAlt" data-parent="#accordion2" class="collapse">
                  <div class="card-body">Evveko, kullanıcıların güvenliğini sağlamak için gerekli önlemleri almaktadır. Kullanıcıların kimlik doğrulaması yapmaları istenebilir ve kullanıcılar arasındaki iletişim platform üzerinden gerçekleşebilir. Ayrıca kullanıcı yorumları ve değerlendirmeleri de platformda paylaşılabilir, böylece güvenli bir ortam oluşturulur.</div>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar-->
          <aside class="sidebar col-lg-4 mt-5 mt-lg-0">
            <div class="search mb-4">
              <form action="#" class="search-form">
                <div class="form-group">
                  <input type="search" name="search" placeholder="Search" class="form-control">
                  <button type="submit"> <i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <div class="sidebar-widget mb-4">
              <h4 class="sidebar-widget-heading">Soru Kategorileri</h4>
              <ul class="list-unstyled pl-0 mt-4">
                <li> <a href="#" class="categories-link">Popüler Sorular</a></li>
                <li><a href="#" class="categories-link">Programın Kullanımı</a></li>
                <li><a href="#" class="categories-link">Kullanıcı Hesabı</a></li>
                <li><a href="#" class="categories-link">Abonelik</a></li>
                <li><a href="#" class="categories-link">Güvenlik</a></li>
              </ul>
            </div>

          </aside>
        </div>
      </div>
    </section>

    {% endblock icerik %} 
 