{% extends "frontend/layout.html" %}
{% block title %} Blog {% endblock title %}


{% block icerik %} 

<section class="py-5">
  <div class="container">
    <div class="row gy-5">

      {% block blog %}
      <!-- Latest Posts -->
      <main class="col-lg-8"> 
        <div class="container">
          <h1 class="mb-4">{{ post['title'] }}<a href="!#"></a></h1>

          <div class="post-body">
            <p class="mb-4"><img class="img-fluid" src="{{ url_for('static', filename='admin/img/' + post.image) }}"></p>

            <p class="mb-4">{{ post['content'] }}</p>

          </div>
        </div>
      </main>

      {% endblock blog %}

    </div>
  </div>
</section>

{% endblock icerik %} 
   