{% extends "frontend/layout.html" %}
{% block title %} Profilim {% endblock title %}


{% block icerik %} 
      <!-- Hero Section-->

      <!-- FAQ Section-->
      <section>
        
        <div class="container">
          <header>

            
          <div class="jumbotron">
            <h1>Sana Özel</h1>
            <!--<p><a href="#" class="btn btn-primary btn-large">Profil Düzenle »</a> </p>-->
          </div>
          </header>
          
          <div class="row"> 
          <!-- sidebar-->

          {% if user['user_type'] == '1' %}
          <aside class="sidebar col-lg-3 mt-5 mt-lg-0">
              <div class="sidebar-widget mb-4">
                  <h4 class="sidebar-widget-heading">Menü</h4>
                  <ul class="list-unstyled pl-0 mt-4">
                      <li><a href="taleplerim" class="categories-link">Taleplerim</a></li>
                      <li><a href="profilayar" class="categories-link">Kullanıcı bilgilerim »</a></li>
                  </ul>
              </div>
          </aside>
      {% elif user['user_type'] == '2' %}
          <aside class="sidebar col-lg-3 mt-5 mt-lg-0">
              <div class="sidebar-widget mb-4">
                  <h4 class="sidebar-widget-heading">Menü</h4>
                  <ul class="list-unstyled pl-0 mt-4">
                      <li><a href="tum_talepler" class="categories-link">Talepler</a></li>
                      <li><a href="tekliflerim" class="categories-link">Tekliflerim</a></li>
                      <li><a href="profilayar" class="categories-link">Kullanıcı bilgilerim »</a></li>
                  </ul>
              </div>
          </aside>
      {% elif user['user_type'] == '3' %}
          <aside class="sidebar col-lg-3 mt-5 mt-lg-0">
              <div class="sidebar-widget mb-4">
                  <h4 class="sidebar-widget-heading">Menü</h4>
                  <ul class="list-unstyled pl-0 mt-4">
                      <li><a href="portfoyum" class="categories-link">Portföyüm</a></li>
                      <li><a href="profilayar" class="categories-link">Kullanıcı bilgilerim »</a></li>
                  </ul>
              </div>
          </aside>
      {% endif %}
      


          <!-- icerik kismi-->
          <div class="col-lg-8">  

            {% block profil %} 


              <p>Hoşgeldin {{ user.user_name }}</p>
              <p>E-posta: {{ user.user_email }}</p>
              <p>Type: {{ user.user_type }}</p>

            {% endblock profil %} 

            
          

            

          </div>
          </div>

     
 
        </div>
      </section>
  
    {% endblock icerik %} 
    