{% extends "frontend/layout.html" %}
{% block title %} Tip Projeler {% endblock title %}


{% block icerik %} 
      <!-- Hero Section-->

      <!-- FAQ Section-->
      <section>
        
        <div class="container">
          <header>

            
          <div class="jumbotron">
            <h1>Tip Projeler</h1>
            <!--<p><a href="#" class="btn btn-primary btn-large">Profil Düzenle »</a> </p>-->
          </div>
          </header>
          
          <div class="row"> 
                 <!-- sidebar-->


          <aside class="sidebar col-lg-3 mt-5 mt-lg-0">

            <div class="sidebar-widget mb-4">
              <div class="flowers-wrap">
                <form method="GET" action="{{ url_for('projeler') }}">
                  <p><strong>Yapı Sınıfı</strong></p>
                  <label><input type="checkbox" name="proje_yapi_sinifi" value="Betonarme"/> Betonarme</label><br>
                  <label><input type="checkbox" name="proje_yapi_sinifi" value="Çelik"/> Çelik</label><br>
                  <label><input type="checkbox" name="proje_yapi_sinifi" value="Ahşap"/> Ahşap</label><br>
              </div>
            </div>
            <div class="sidebar-widget mb-4">
              <div class="flowers-wrap">
                  <p><strong>Oda Sayısı</strong></p>
                  <label><input type="checkbox" name="proje_oda_sayisi" value="1+1"> 1+1</label><br>
                  <label><input type="checkbox" name="proje_oda_sayisi" value="2+1"> 2+1</label><br>
                  <label><input type="checkbox" name="proje_oda_sayisi" value="3+1"> 3+1</label><br>
                  <!-- Diğer seçenekler -->

              </div>
            </div>
            <div class="sidebar-widget mb-4">
              <div class="flowers-wrap">
                
                  <button type="submit" class="btn btn-primary">Filtrele</button>
                </form>
         
              </div>
            </div>

          </aside>

          <!-- icerik kismi-->
          <div class="col-lg-8">  



            {% block profil %} 

            <table class="table card-text">
              <thead>
                  <tr>
                      <th>Proje Resmi</th>
                      <th>Proje Adı</th>
                      <th>Yapı Sınıfı</th>
                      <th>Oda Sayısı</th>
                      <th>Proje M²</th>
                      
                  </tr>
              </thead>
              <tbody>
                  {% for proje in projeler %}
                  <tr class="clickable-row" data-href="{{ url_for('projedetay', proje_id=proje.proje_id) }}">

                      <td><img src="{{ url_for('static', filename='admin/img/' + proje.proje_resim) }}" alt="Proje Resmi" class="img-fluid table-image"></td>
                      <td>{{ proje.proje_adi }}</td>
                      <td>{{ proje.proje_yapi_sinifi }}</td>
                      <td>{{ proje.proje_oda_sayisi }}</td>
                      <td>{{ proje.proje_metre }}</td>
                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

            {% endblock profil %} 

          </div>
          </div>

     
 
        </div>
      </section>


  
    {% endblock icerik %} 
    