{% extends "frontend/profil.html" %}
{% block title %} Profil Ayarlarım {% endblock title %}


{% block profil %} 



<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
        <tr>
          <th>Proje Resim</th>
          <th>Proje Adı</th>
          <th>Proje Yapı Sınıfı</th>
          <th>Proje Oda Sayısı</th>
        </tr>
      </thead>
      <tbody>
        {% for talep in talepler %}
          <tr>
            <td><img src="{{ url_for('static', filename='admin/img/' + talep.proje.proje_resim) }}" alt="Proje Resmi" class="img-fluid table-image"></td>
            <td>{{ talep.proje.proje_adi }}</td>
            <td>{{ talep.proje.proje_yapi_sinifi }}</td>
            <td>{{ talep.proje.proje_oda_sayisi }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    

  
{% endblock profil %} 
    